<!-- Validation failure messages -->
<% if @recipe.present? %>
  <% if @recipe.errors.any? %>
    <% @recipe.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new recipe
</h1>


<hr>

<!-- Form recipe start -->
<form action="/create_recipe" method="post">
<!-- Form recipe end -->

  <!-- Label and input for ingredient1 start -->
  <div class="form-group">
    <label for="ingredient1">
      Ingredient1
    </label>

    <!-- Input for ingredient1 start -->
    <input type="text" id="ingredient1" name="ingredient1" class="form-control" value="<%= @recipe.ingredient1 %>">
    <!-- Input for ingredient1 end -->
  </div>
  <!-- Label and input for ingredient1 end -->

  <!-- Label and input for ing1_quant start -->
  <div class="form-group">
    <label for="ing1_quant">
      Ing1 quant
    </label>

    <!-- Input for ing1_quant start -->
    <input type="text" id="ing1_quant" name="ing1_quant" class="form-control" value="<%= @recipe.ing1_quant %>">
    <!-- Input for ing1_quant end -->
  </div>
  <!-- Label and input for ing1_quant end -->

  <!-- Label and input for ing1_metr start -->
  <div class="form-group">
    <label for="ing1_metr">
      Ing1 metr
    </label>

    <!-- Input for ing1_metr start -->
    <input type="text" id="ing1_metr" name="ing1_metr" class="form-control" value="<%= @recipe.ing1_metr %>">
    <!-- Input for ing1_metr end -->
  </div>
  <!-- Label and input for ing1_metr end -->

  <!-- Label and input for ingredient2 start -->
  <div class="form-group">
    <label for="ingredient2">
      Ingredient2
    </label>

    <!-- Input for ingredient2 start -->
    <input type="text" id="ingredient2" name="ingredient2" class="form-control" value="<%= @recipe.ingredient2 %>">
    <!-- Input for ingredient2 end -->
  </div>
  <!-- Label and input for ingredient2 end -->

  <!-- Label and input for ing2_quant start -->
  <div class="form-group">
    <label for="ing2_quant">
      Ing2 quant
    </label>

    <!-- Input for ing2_quant start -->
    <input type="text" id="ing2_quant" name="ing2_quant" class="form-control" value="<%= @recipe.ing2_quant %>">
    <!-- Input for ing2_quant end -->
  </div>
  <!-- Label and input for ing2_quant end -->

  <!-- Label and input for ing2_metr start -->
  <div class="form-group">
    <label for="ing2_metr">
      Ing2 metr
    </label>

    <!-- Input for ing2_metr start -->
    <input type="text" id="ing2_metr" name="ing2_metr" class="form-control" value="<%= @recipe.ing2_metr %>">
    <!-- Input for ing2_metr end -->
  </div>
  <!-- Label and input for ing2_metr end -->

  <!-- Label and input for ingredient3 start -->
  <div class="form-group">
    <label for="ingredient3">
      Ingredient3
    </label>

    <!-- Input for ingredient3 start -->
    <input type="text" id="ingredient3" name="ingredient3" class="form-control" value="<%= @recipe.ingredient3 %>">
    <!-- Input for ingredient3 end -->
  </div>
  <!-- Label and input for ingredient3 end -->

  <!-- Label and input for ing3_quant start -->
  <div class="form-group">
    <label for="ing3_quant">
      Ing3 quant
    </label>

    <!-- Input for ing3_quant start -->
    <input type="text" id="ing3_quant" name="ing3_quant" class="form-control" value="<%= @recipe.ing3_quant %>">
    <!-- Input for ing3_quant end -->
  </div>
  <!-- Label and input for ing3_quant end -->

  <!-- Label and input for ing3_metr start -->
  <div class="form-group">
    <label for="ing3_metr">
      Ing3 metr
    </label>

    <!-- Input for ing3_metr start -->
    <input type="text" id="ing3_metr" name="ing3_metr" class="form-control" value="<%= @recipe.ing3_metr %>">
    <!-- Input for ing3_metr end -->
  </div>
  <!-- Label and input for ing3_metr end -->

  <!-- Label and input for ingredient4 start -->
  <div class="form-group">
    <label for="ingredient4">
      Ingredient4
    </label>

    <!-- Input for ingredient4 start -->
    <input type="text" id="ingredient4" name="ingredient4" class="form-control" value="<%= @recipe.ingredient4 %>">
    <!-- Input for ingredient4 end -->
  </div>
  <!-- Label and input for ingredient4 end -->

  <!-- Label and input for ing4_quant start -->
  <div class="form-group">
    <label for="ing4_quant">
      Ing4 quant
    </label>

    <!-- Input for ing4_quant start -->
    <input type="text" id="ing4_quant" name="ing4_quant" class="form-control" value="<%= @recipe.ing4_quant %>">
    <!-- Input for ing4_quant end -->
  </div>
  <!-- Label and input for ing4_quant end -->

  <!-- Label and input for ing4_metr start -->
  <div class="form-group">
    <label for="ing4_metr">
      Ing4 metr
    </label>

    <!-- Input for ing4_metr start -->
    <input type="text" id="ing4_metr" name="ing4_metr" class="form-control" value="<%= @recipe.ing4_metr %>">
    <!-- Input for ing4_metr end -->
  </div>
  <!-- Label and input for ing4_metr end -->

  <!-- Label and input for ingredient5 start -->
  <div class="form-group">
    <label for="ingredient5">
      Ingredient5
    </label>

    <!-- Input for ingredient5 start -->
    <input type="text" id="ingredient5" name="ingredient5" class="form-control" value="<%= @recipe.ingredient5 %>">
    <!-- Input for ingredient5 end -->
  </div>
  <!-- Label and input for ingredient5 end -->

  <!-- Label and input for ing5_quant start -->
  <div class="form-group">
    <label for="ing5_quant">
      Ing5 quant
    </label>

    <!-- Input for ing5_quant start -->
    <input type="text" id="ing5_quant" name="ing5_quant" class="form-control" value="<%= @recipe.ing5_quant %>">
    <!-- Input for ing5_quant end -->
  </div>
  <!-- Label and input for ing5_quant end -->

  <!-- Label and input for ing5_metr start -->
  <div class="form-group">
    <label for="ing5_metr">
      Ing5 metr
    </label>

    <!-- Input for ing5_metr start -->
    <input type="text" id="ing5_metr" name="ing5_metr" class="form-control" value="<%= @recipe.ing5_metr %>">
    <!-- Input for ing5_metr end -->
  </div>
  <!-- Label and input for ing5_metr end -->

  <!-- Label and input for total_calories start -->
  <div class="form-group">
    <label for="total_calories">
      Total calories
    </label>

    <!-- Input for total_calories start -->
    <input type="text" id="total_calories" name="total_calories" class="form-control" value="<%= @recipe.total_calories %>">
    <!-- Input for total_calories end -->
  </div>
  <!-- Label and input for total_calories end -->

  <!-- Label and input for total_proteins start -->
  <div class="form-group">
    <label for="total_proteins">
      Total proteins
    </label>

    <!-- Input for total_proteins start -->
    <input type="text" id="total_proteins" name="total_proteins" class="form-control" value="<%= @recipe.total_proteins %>">
    <!-- Input for total_proteins end -->
  </div>
  <!-- Label and input for total_proteins end -->

  <!-- Label and input for total_fats start -->
  <div class="form-group">
    <label for="total_fats">
      Total fats
    </label>

    <!-- Input for total_fats start -->
    <input type="text" id="total_fats" name="total_fats" class="form-control" value="<%= @recipe.total_fats %>">
    <!-- Input for total_fats end -->
  </div>
  <!-- Label and input for total_fats end -->

  <!-- Label and input for total_carbohydrates start -->
  <div class="form-group">
    <label for="total_carbohydrates">
      Total carbohydrates
    </label>

    <!-- Input for total_carbohydrates start -->
    <input type="text" id="total_carbohydrates" name="total_carbohydrates" class="form-control" value="<%= @recipe.total_carbohydrates %>">
    <!-- Input for total_carbohydrates end -->
  </div>
  <!-- Label and input for total_carbohydrates end -->

  <button class="btn btn-block btn-outline-secondary">
    Create recipe
  </button>
</form>

<hr>

<a href="/recipes">
  Go back
</a>
