<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Recipe #<%= @recipe.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/recipes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit recipe
        </a>
      </div>

      <div class="col">
        <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-block btn-outline-secondary">
          Delete recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ingredient1
      </dt>
      <dd>
        <%= @recipe.ingredient1 %>
      </dd>

      <dt>
        Ing1 quant
      </dt>
      <dd>
        <%= @recipe.ing1_quant %>
      </dd>

      <dt>
        Ing1 metr
      </dt>
      <dd>
        <%= @recipe.ing1_metr %>
      </dd>

      <dt>
        Ingredient2
      </dt>
      <dd>
        <%= @recipe.ingredient2 %>
      </dd>

      <dt>
        Ing2 quant
      </dt>
      <dd>
        <%= @recipe.ing2_quant %>
      </dd>

      <dt>
        Ing2 metr
      </dt>
      <dd>
        <%= @recipe.ing2_metr %>
      </dd>

      <dt>
        Ingredient3
      </dt>
      <dd>
        <%= @recipe.ingredient3 %>
      </dd>

      <dt>
        Ing3 quant
      </dt>
      <dd>
        <%= @recipe.ing3_quant %>
      </dd>

      <dt>
        Ing3 metr
      </dt>
      <dd>
        <%= @recipe.ing3_metr %>
      </dd>

      <dt>
        Ingredient4
      </dt>
      <dd>
        <%= @recipe.ingredient4 %>
      </dd>

      <dt>
        Ing4 quant
      </dt>
      <dd>
        <%= @recipe.ing4_quant %>
      </dd>

      <dt>
        Ing4 metr
      </dt>
      <dd>
        <%= @recipe.ing4_metr %>
      </dd>

      <dt>
        Ingredient5
      </dt>
      <dd>
        <%= @recipe.ingredient5 %>
      </dd>

      <dt>
        Ing5 quant
      </dt>
      <dd>
        <%= @recipe.ing5_quant %>
      </dd>

      <dt>
        Ing5 metr
      </dt>
      <dd>
        <%= @recipe.ing5_metr %>
      </dd>

      <dt>
        Total calories
      </dt>
      <dd>
        <%= @recipe.total_calories %>
      </dd>

      <dt>
        Total proteins
      </dt>
      <dd>
        <%= @recipe.total_proteins %>
      </dd>

      <dt>
        Total fats
      </dt>
      <dd>
        <%= @recipe.total_fats %>
      </dd>

      <dt>
        Total carbohydrates
      </dt>
      <dd>
        <%= @recipe.total_carbohydrates %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

