<!-- Validation failure messages -->
<% if @base_ingredient.errors.any? %>
  <% @base_ingredient.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit base ingredient #<%= @base_ingredient.id %>
</h1>

<hr>

<!-- Form base_ingredient start -->
<form action="/update_base_ingredient/<%= @base_ingredient.id %>" method="post">
<!-- Form base_ingredient end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @base_ingredient.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for calories start -->
  <div class="form-group">
    <label for="calories">
      Calories
    </label>

    <!-- Input for calories start -->
    <input type="text" id="calories" name="calories" class="form-control" value="<%= @base_ingredient.calories %>">
    <!-- Input for calories end -->
  </div>
  <!-- Label and input for calories end -->

  <!-- Label and input for proteins start -->
  <div class="form-group">
    <label for="proteins">
      Proteins
    </label>

    <!-- Input for proteins start -->
    <input type="text" id="proteins" name="proteins" class="form-control" value="<%= @base_ingredient.proteins %>">
    <!-- Input for proteins end -->
  </div>
  <!-- Label and input for proteins end -->

  <!-- Label and input for fats start -->
  <div class="form-group">
    <label for="fats">
      Fats
    </label>

    <!-- Input for fats start -->
    <input type="text" id="fats" name="fats" class="form-control" value="<%= @base_ingredient.fats %>">
    <!-- Input for fats end -->
  </div>
  <!-- Label and input for fats end -->

  <!-- Label and input for carbohydrates start -->
  <div class="form-group">
    <label for="carbohydrates">
      Carbohydrates
    </label>

    <!-- Input for carbohydrates start -->
    <input type="text" id="carbohydrates" name="carbohydrates" class="form-control" value="<%= @base_ingredient.carbohydrates %>">
    <!-- Input for carbohydrates end -->
  </div>
  <!-- Label and input for carbohydrates end -->

  <button class="btn btn-block btn-outline-secondary">
    Update base ingredient
  </button>
</form>

<hr>

<a href="/base_ingredients">
  Go back
</a>
