<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Meal #<%= @meal.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/meals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link meal start -->
      <div class="col">
        <a href="/meals/<%= @meal.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit meal
        </a>
      </div>
      <!-- Edit link meal end -->

      <!-- Delete link meal start -->
      <div class="col">
        <a href="/delete_meal/<%= @meal.id %>" class="btn btn-block btn-outline-secondary">
          Delete meal
        </a>
      </div>
      <!-- Delete link meal end -->
    </div>

    <dl>
      <dt>
        Eater
      </dt>
      <!-- Display eater start -->
      <dd>
        <%= @meal.eater %>
      </dd>
      <!-- Display eater end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@meal.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@meal.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
